*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#111;
    color:white;
}

/* NAVBAR */

header{
    background:#000;
    position:fixed;
    width:100%;
    top:0;
    z-index:1000;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
}

.logo{
    color:#00bfff;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

nav a:hover{
    color:#00bfff;
}

/* HERO */
/*
.hero{
    height:100vh;
    background:url('https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?q=80&w=1200&auto=format&fit=crop');
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    padding:0 10%;
}
    */

.hero{
    height:100vh;

    background:
    linear-gradient(rgba(0,0,0,0.35),
    rgba(0,0,0,0.35)),
    url("Imagenes/portada.png");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    display:flex;

    align-items:center;

    padding:0 10%;
}
    

.hero-text{
    max-width:600px;
}

.hero h2{
    font-size:60px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:30px;
}

.btn{
    background:#00bfff;
    color:white;
    padding:15px 30px;
    text-decoration:none;
    border:none;
    cursor:pointer;
    border-radius:5px;
    transition:0.3s;
}

.btn:hover{
    background:#009acd;
}

/* SERVICIOS */

.servicios{
    padding:100px 10%;
    text-align:center;
}

.servicios h2{
    margin-bottom:50px;
    font-size:40px;
}

.cards{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
    justify-content:center;
}

.card{
    background:#1b1b1b;
    width:300px;
    border-radius:10px;
    overflow:hidden;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

.card h3{
    margin:20px 0 10px;
}

.card p{
    padding:0 20px 20px;
}

/* PRODUCTO */

.producto{
    padding:100px 10%;
    background:#181818;
}

.producto-container{
    display:flex;
    align-items:center;
    gap:50px;
    flex-wrap:wrap;
}

.producto-img img{
    width:400px;
    border-radius:10px;
}

.producto-text{
    max-width:500px;
}

.producto-text h2{
    font-size:40px;
    margin-bottom:20px;
}

.producto-text p{
    margin-bottom:30px;
    line-height:1.6;
}

/* GALERIA */

.galeria{
    padding:100px 10%;
    text-align:center;
}

.galeria h2{
    margin-bottom:50px;
    font-size:40px;
}

.galeria-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
    gap:20px;
}

.galeria-grid img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:10px;
    transition:0.3s;
}

.galeria-grid img:hover{
    transform:scale(1.05);
}

/* CONTACTO */

.contacto{
    padding:100px 10%;
    text-align:center;
    background:#000;
}

.contacto h2{
    font-size:40px;
    margin-bottom:20px;
}

.contacto p{
    margin-bottom:30px;
}

.whatsapp{
    background:#25D366;
}

/* RESPONSIVE */

@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:20px;
    }

    .hero h2{
        font-size:40px;
    }

    .producto-container{
        flex-direction:column;
    }

    .producto-img img{
        width:100%;
    }
}

/*Logotipo*/

.logo-container{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo-img{
    width:100px;
    height:100px;
    object-fit:contain;

    filter:drop-shadow(0 0 8px #00bfff);
}

.logo-text{
    color:#00bfff;
    font-size:26px;
    font-weight:bold;
}

/* ========================= */
/* QUIENES SOMOS */
/* ========================= */

.quienes-somos{
    padding:100px 10%;
    background:#181818;
    text-align:center;
}

.quienes-somos h2{
    font-size:42px;
    margin-bottom:30px;
    color:#00bfff;
}

.quienes-somos p{
    max-width:1000px;
    margin:auto;

    font-size:18px;
    line-height:1.9;

    color:#ddd;
}


/* ========================= */
/* MISION Y VISION */
/* ========================= */

.mision-vision{
    padding:100px 10%;
    background:#111;
}

.mv-container{
    display:flex;
    gap:40px;
    flex-wrap:wrap;
    justify-content:center;
}

.mv-card{
    flex:1;
    min-width:320px;

    background:#1c1c1c;

    padding:40px;

    border-radius:20px;

    transition:0.4s;

    border:1px solid rgba(255,255,255,0.05);

    box-shadow:0 0 20px rgba(0,0,0,0.3);
}

.mv-card:hover{
    transform:translateY(-10px);

    border:1px solid #00bfff;

    box-shadow:0 0 25px rgba(0,191,255,0.3);
}

.mv-card h2{
    font-size:36px;

    margin-bottom:25px;

    color:#00bfff;
}

.mv-card p{
    color:#ccc;

    line-height:1.9;

    font-size:17px;
}
/* ========================= */
/* REDES SOCIALES */
/* ========================= */

.redes-sociales{

    padding:100px 10%;

    background:#0d0d0d;

    text-align:center;
}

.redes-sociales h2{

    font-size:42px;

    margin-bottom:40px;

    color:#00bfff;
}

.social-icons{

    display:flex;

    justify-content:center;

    gap:30px;
}

.social{

    width:80px;

    height:80px;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:50%;

    font-size:40px;

    color:white;

    text-decoration:none;

    transition:0.4s;

    background:#1b1b1b;

    box-shadow:0 0 15px rgba(0,0,0,0.4);
}

/* FACEBOOK Esto es para hacer el efecto aspero de que cambia el color de fb*/ 

.facebook:hover{

    background:#1877f2;

    transform:translateY(-10px) scale(1.1);

    box-shadow:0 0 25px #1877f2;
}

/* YOUTUBE con esto se edita bien aspero*/  

.youtube:hover{

    background:#ff0000;

    transform:translateY(-10px) scale(1.1);

    box-shadow:0 0 25px #ff0000;
}